* {
    margin: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 160px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-top: 76.8px;
    background-color: black;
}

.blog {
    overflow: hidden;
    width: 1426px;
    height: 376px;
    background-color: #DEDEDE;
    margin-left: 56px;
    margin-top: 66px;
}

.img {
    width: 669.6px;
    height: 376.8px;
    background-color: black;
}

@media screen and (max-width:1458px) {
    header {
        width: 100%;
        height: 160px;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 56px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    footer {
        width: 100%;
        height: 200px;
        margin-top: 96px;
        background-color: black;
    }
    
    .blog {
        overflow: hidden;
        width: 1004px;
        height: 941px;
        background-color: #DEDEDE;
        margin-left: 234px;
        margin-top: 66px;
    }
    
    .img {
        width: 1004.4px;
        height: 565.2px;
        background-color: black;
    }
}


@media screen and (max-width:768px) {
    header {
        width: 100%;
        height: 64px;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 22.4px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer {
        width: 100%;
        height: 100px;
        margin-top: 38.4px;
        background-color: black;
    }
    
    .blog {
        width: 650px;
        height: 188px;
        background-color: #DEDEDE;
        margin-left: 28px;
        margin-top: 33.2px;
    }
    
    .img {
        width: 334.8px;
        height: 188px;
        background-color: black;
    }  
}

@media screen and (max-width:502px) {
    header {
        width: 100%;
        height: 53px;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer {
        width: 100%;
        height: 67px;
        margin-top: 32px;
        background-color: black;
    }
    
    .blog {
        width: 335px;
        height: 376px;
        background-color: #DEDEDE;
        margin-left: 84px;
        margin-top: 22px;
    }
    
    .img {
        width: 334.8px;
        height: 188.4px;
        background-color: black;
    }  
}

